html,
body {
  margin: 0px;
  overflow-x: hidden;
  font-family: inter;
}
.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layoutWrapper > main {
  flex: 1;
  display: grid;
}
